
<div class="container" style="margin-top: 15px;" >
    <div>
        <input type="text" class="form-control " style="width: 240px;float: left; " [(ngModel)]="filterItem"
        placeholder="Search...">

        <div class="dropdown" style="float: right;">
            <button class="btn-lg btn dropdown-toggle" type="button" data-toggle="dropdown" 
              style="background: #ad115a;color: white;">Filter
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a routerLink="/products/all">--All--</a></li>
              <li><a routerLink="/products/mobiles">Electronics</a></li>
              <li><a routerLink="/products/grosories">Clothing</a></li>
            </ul>
          </div>
        </div>
       
    <br>
  <hr>
  <div class="row" >
<!-- interpolation*ngFor="let product of products | filter: filterItem -->
     <div class="col-md-12" style="background: rgb(238, 238, 238);width: 100%; height: 580px;" id="body-container" >
        <div class="col-md-3" *ngFor="let product of products | filter: filterItem ">
          <div style="margin: 20px;height: auto;width: 210px;">
            <a [routerLink]="['/products',product.productId]" style="cursor: pointer;">
              <div class="card border-info" style="color: #ad115a;height: 250px;width: 200px;background: papayawhip;overflow-y: scroll;">
                <img class="card-img-top img-responsive" 
                [src]="product.imagePath"
                 alt="Card image" style="max-height: 190px;padding:2px;">
                <div class="card-body" style="background:navajowhite">
                  <h4 class="card-title text-center">{{ product.productTitle}}&nbsp;&nbsp;&nbsp;{{ product.productBrandName }}</h4>
                  
                  <div class="card-text text-center" >
                    <p>
                      {{ product.productDescription }}
                    </p>
                      <p>
                        {{ product.productAmount | currency: 'INR': true}}
                      </p>
                    
                  </div>
                </div>
              </div>
            </a>
        </div>
     </div>


    <hr>
  </div>
  <hr>
</div>


<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
</footer>