<div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              
              <div class="tab-pane active" id="pic-1">
                <img [src]="item.imagePath" 
                class="img img-responsive" 
                style="height: 500px; width: 250px;"
                />
              
              </div>
            </div>
            
            
          </div>
          
          <div class="details col-md-6">
            <h3 class="product-title">{{ item.productTitle }}</h3>
            <p></p>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description">{{ item.productDescription }}</p>
            <h4 class="price">current price: <span>₹  {{ item.productAmount }} 20% off</span></h4>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
            </h5>
            <h5 class="colors">colors:
              <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
              <span class="color pink"></span>
              <span class="color white"></span>
            </h5>
            <div class="action">
              <button class="btn1" type="button">Place Order</button>
              <button class="btn1" type="button"><span class="fa fa-heart"></span></button>
            </div>
          </div>
              
        </div>
        
      </div>
    </div>
  </div>