@import url('https://fonts.googleapis.com/css?family=Courgette|Raleway');
body {
	/*background-color: red;*/
	background-color: #f4f6f9;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.btn {
	border-radius: 0;
}
.navbar {
    color: #fff;
    background-color: #f4f6f9;
    border-radius: 0;
    margin-bottom: 0;
    height: 100px;


}
#brand {
	font-family: 'Courgette', cursive;
	color: #ad115a;
	font-size: 50px;
	margin-top:20px;

}

#navtext{
	color: #ad115a;
	font-size: 20px;
	margin-top:20px;
}
.dropdown {
	color: #ad115a;
	font-size: 30px;
	margin-top:20px;
}

.dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    margin-top:20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#ddd ;
}

.dropdown-content {
    display: none;
    font-size: 16px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #ad115a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*div2*/

#jumbocontent{
	color:#ad115a;
	background-color: #f4f6f9;
}
.btn1{
	height: 50px;
	width: 150px;
	color: white;
	background-color: #ad115a;
	border-color: #ad115a;
	border: 1px;
	border-radius: 10px;
	font-size: 20px;
}
h3{
	color: #ad115a;
	text-align: center;
}

@media only screen and (max-width: 900px) {
    .circle {
 	padding:20px;
 	width: 60px;
 	height: 60px;

}
@media only screen and (max-width: 350px) {}}
   