

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
      <a class="navbar-brand" routerLink="/" id="brand" style="color: #ad115a;font-size: 30px;">
        Shopping Trend </a>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right"> 
        <li>
          
        </li>
        <li><a routerLink="/" id="navtext">HOME</a></li>
        <li><a routerLink="/products/grosories">Grossories</a></li>
        
        <li><a routerLink="/products/mobiles" id="navtext">Mobiles</a></li>
        <li><a routerLink="/products/entertainments" id="navtext">Entertainments</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" routerLink="/" id="brand">ShopyShopy</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right"> 
          <li><a routerLink="/" id="navtext">HOME</a></li>&nbsp;&nbsp;&nbsp;
          <li style="margin-right: 100px;">
            <div class="dropdown">
              <a class="dropbtn" id="navtext">PRODUCTS 
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown-content">
                <a routerLink="/products/mobiles">Electronics</a>
                <a routerLink="/products/grosories">Clothing</a>
                <a routerLink="/products/entertainments">Play</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


 